# Data Cleaning: recurring coding strategies

Imagine we have this data:

In [ ]:
# the link as CSV
linkToLifeExpectancy="https://github.com/megvonguru/HW-3/raw/refs/heads/main/Life%20expectancy%20at%20birth.csv"
linkToMaternalMortality="https://github.com/megvonguru/HW-3/raw/refs/heads/main/Maternal%20mortality%20ratio.csv"
linkToInfantMortality="https://github.com/megvonguru/HW-3/raw/refs/heads/main/Infant%20mortality%20rate.csv"

Read the data from each of the files:

In [ ]:
lifeExpect=read.csv(linkToLifeExpectancy,na.strings = c(""))

matMort=read.csv(linkToMaternalMortality,na.strings = c(""))

infMort=read.csv(linkToInfantMortality,na.strings = c(""))

Verify if the data is good.

In [ ]:
str(lifeExpect)
head(lifeExpect)
tail(lifeExpect)

You should see the column names, but you do not ...because the column names are in the wrong place:

In [ ]:
str(matMort)
head(matMort)
tail(matMort)

In [ ]:
#using 'head'
str(infMort)
head(infMort)
tail(infMort)

Using _head_ and _tail_ is important:

Notice empty cells have not been considered "NA". We could write instead:

# Cleaning Steps

## A. Keeping columns needed

Pay attention to column names:
- They should be on the top.
- They should have no spaces anywhere
- They should have no special characters
- They should have no start with numeric values
- They should be readable (short, self-explanatory)
- When needed, use comments to explain their meaning.

Currently the column names are somewhere they should not:

---

In [ ]:
#current names:
names(lifeExpect)
names(matMort)
names(infMort)

[1] "name"                "slug"                "years"
[4] "date_of_information" "ranking"             "region"

[1] "name"                "slug"                "deaths.100"
[4] "X000.live.births"    "date_of_information" "ranking"
[7] "region"

[1] "name"                "slug"                "deaths.1"
[4] "X000.live.births"    "date_of_information" "ranking"
[7] "region"

In [ ]:
names(lifeExpect)[names(lifeExpect)!='NA']
names(matMort)[names(matMort)!='NA']
names(infMort)[names(infMort)!='NA']

[1] "name"                "slug"                "years"
[4] "date_of_information" "ranking"             "region"

[1] "name"                "slug"                "deaths.100"
[4] "X000.live.births"    "date_of_information" "ranking"
[7] "region"

[1] "name"                "slug"                "deaths.1"
[4] "X000.live.births"    "date_of_information" "ranking"
[7] "region"

In [ ]:
colnames(lifeExpect) <- as.list(names(lifeExpect))
colnames(matMort) <- as.list(names(matMort))
colnames(infMort) <- as.list(names(infMort))

In [ ]:
#Change the column name of Ranking to Region as the names were off
colnames(matMort)[colnames(matMort) == "deaths.100"] <- "Death"
colnames(matMort)[colnames(matMort) == "ranking"] <- "Region"

colnames(infMort)[colnames(infMort) == "deaths.1"] <- "Death"
colnames(infMort)[colnames(infMort) == "ranking"] <- "Region"

In [ ]:
# renaming
lifeExpect <- lifeExpect[, c("name", "years", "region")]

## see new column names
lifeExpect

This data has columns with no values at all, even the column name is missing, we can use that to our advantage:

In [ ]:
# renaming
matMort <- matMort[, c("name", "Death", "Region")]

## see new column names
matMort

In [ ]:
# renaming
infMort <- infMort[, c("name", "Death", "Region")]

## see new column names
infMort

## B. Keeping rows needed on the contents

## C. Exploring cell contents

Identify which are textual, numerical, or categorical.

In [ ]:
str(lifeExpect)

'data.frame':	227 obs. of  3 variables:
 $ name  : chr  "Monaco" "Singapore" "Macau" "Japan" ...
 $ years : num  89.8 86.7 85.3 85.2 84.2 84.2 84 84 83.9 83.8 ...
 $ region: chr  "Europe" "East and Southeast Asia" "East and Southeast Asia" "East and Southeast Asia" ...

In [ ]:
str(matMort)

'data.frame':	196 obs. of  3 variables:
 $ name  : chr  "Nigeria" "Chad" "South Sudan" "Central African Republic" ...
 $ Death : int  993 748 692 692 628 563 521 518 505 494 ...
 $ Region: chr  "Africa" "Africa" "Africa" "Africa" ...

In [ ]:
str(infMort)

'data.frame':	227 obs. of  3 variables:
 $ name  : chr  "Somalia" "Central African Republic" "Equatorial Guinea" "Sierra Leone" ...
 $ Death : num  81.5 79.3 76.9 70.1 65.6 63 61.1 58.6 56.7 55.8 ...
 $ Region: chr  "Africa" "Africa" "Africa" "Africa" ...



* Columns **identification1** and **identification2** are *textual*.
* The columns from **var1** to **var@3** are all *numerical*. But if the type is _chr_ the column has been read as strings.
* Column **category** is *categorical*. Keep in mind that categorical types will NEVER be recognised as such by default when read from a CSV. They will always be understood as text (_chr_).

The **column names** are always *strings*.

### C.2.1. **Exploring TEXT columns**

When data is textual, you need to explore the cells to verify all the characters are part of the **alphabet**.


Let's see how to use R:

In [ ]:
# this looks ok
lifeExpect$name[grep("[^a-zA-Z\\s]",lifeExpect$name,perl = T)]
lifeExpect$region[grep("[^a-zA-Z\\s]",lifeExpect$region,perl = T)]

 [1] "Korea, South"
 [2] "Saint Helena, Ascension, and Tristan da Cunha"
 [3] "Turkey (Turkiye)"
 [4] "Bahamas, The"
 [5] "Micronesia, Federated States of"
 [6] "Korea, North"
 [7] "Congo, Republic of the"
 [8] "Timor-Leste"
 [9] "Gambia, The"
[10] "Guinea-Bissau"
[11] "Cote d'Ivoire"
[12] "Congo, Democratic Republic of the"

character(0)

In [ ]:
matMort$name[grep("[^a-zA-Z\\s]",matMort$name,perl = T)]
matMort$Region[grep("[^a-zA-Z\\s]",matMort$Region,perl = T)]

 [1] "Guinea-Bissau"                     "Congo, Democratic Republic of the"
 [3] "Cote d'Ivoire"                     "Gambia, The"
 [5] "Congo, Republic of the"            "Timor-Leste"
 [7] "Micronesia, Federated States of"   "Bahamas, The"
 [9] "Korea, North"                      "Turkey (Turkiye)"
[11] "Korea, South"

character(0)

In [ ]:
infMort$name[grep("[^a-zA-Z\\s]",infMort$name,perl = T)]
infMort$Region[grep("[^a-zA-Z\\s]",infMort$Region,perl = T)]

 [1] "Congo, Democratic Republic of the"
 [2] "Cote d'Ivoire"
 [3] "Guinea-Bissau"
 [4] "Timor-Leste"
 [5] "Gambia, The"
 [6] "Congo, Republic of the"
 [7] "Micronesia, Federated States of"
 [8] "Turkey (Turkiye)"
 [9] "Saint Helena, Ascension, and Tristan da Cunha"
[10] "Korea, North"
[11] "Bahamas, The"
[12] "Korea, South"

character(0)

### C.2.2. **Exploring NUMBERS**

If numbers are recognised as so, there is no cleaning needed. But if not, it means it has been recognised as text, then we use the regex **\d** (and its variations):

Notice I need to use **[  ]** to access the variables with dirty names (space between words, and the **@** special character). That is why you clean the column names first:

There are cells with good values, but other values can not be kept. Use **\D** with care, numbers are complex. So I prefer something like this:

In [ ]:
lifeExpect[,'years'][grep("[^\\d+\\.*\\d*]", lifeExpect$'years', perl=T,invert = F)]

numeric(0)

In [ ]:
matMort[,'Death'][grep("[^\\d+\\.*\\d*]", matMort$'Death', perl=T,invert = F)]

integer(0)

In [ ]:
infMort[,'Death'][grep("[^\\d+\\.*\\d*]", infMort$'Death', perl=T,invert = F)]

numeric(0)

## C. Cleaning

As mentioned, cleaning may mean:

a. Making bad characters disappear.

b. Keeping good characters.


Let's start with the _column names_:

### C.1 Cleaning column names

How can you say: if "a space" or a "weird character", disappear? (that is, *replace* by *nothing*)

Choose any and make the change:

In [ ]:
names(lifeExpect)=gsub("[^0-9a-zA-Z]",'',names(lifeExpect))
lifeExpect

Be preventive about leading and trailing spaces:

In [ ]:
colnames(lifeExpect) == trimws(colnames(lifeExpect),whitespace = "[\\h\\v]")

[1] TRUE TRUE TRUE

In [ ]:
colnames(matMort) == trimws(colnames(matMort),whitespace = "[\\h\\v]")

[1] TRUE TRUE TRUE

In [ ]:
colnames(infMort) == trimws(colnames(infMort),whitespace = "[\\h\\v]")

[1] TRUE TRUE TRUE

The column names were cleaned by **Making bad characters disappear** ðŸ™‚

### C.2. Cleaning TEXT columns

Let's check the **identification** column:

In [ ]:
lifeExpect$name[grep("[^a-zA-Z\\s]",lifeExpect$name,perl = T)]

 [1] "Korea, South"
 [2] "Saint Helena, Ascension, and Tristan da Cunha"
 [3] "Turkey (Turkiye)"
 [4] "Bahamas, The"
 [5] "Micronesia, Federated States of"
 [6] "Korea, North"
 [7] "Congo, Republic of the"
 [8] "Timor-Leste"
 [9] "Gambia, The"
[10] "Guinea-Bissau"
[11] "Cote d'Ivoire"
[12] "Congo, Democratic Republic of the"

Be preventive about leading and trailing spaces:

In general, you want to be sure the row index starts in 'one' and continues with consecutive values. Just do this:

In [ ]:
rownames(lifeExpect)=NULL
rownames(matMort)=NULL
rownames(infMort)=NULL
print(lifeExpect)

In [ ]:
lifeExpect

# SAVING the CLEAN data

In [ ]:



folder <- "dataCleaned"

# Check if the folder exists
if (!dir.exists(folder)) {
  # Create the folder
  dir.create(folder)
 }

cleanLifeExpect=lifeExpect[,]
saveRDS(cleanLifeExpect,file.path(folder,"cleanLifeExpect.RDS"))
 write.csv(cleanLifeExpect,file.path(folder,"cleanLifeExpect.csv"))

cleanMatMort=matMort[,]
 saveRDS(cleanMatMort,file.path(folder,"cleanMatMortality.RDS"))
 write.csv(cleanMatMort,file.path(folder,"cleanMatMortality.csv"))

cleanInfMort=infMort[,]
 saveRDS(cleanInfMort,file.path(folder,"cleanInfMortality.RDS"))
 write.csv(cleanInfMort,file.path(folder,"cleanInfMortality.csv"))

In [ ]:
lifeExpectRDS=readRDS(file.path(folder,"cleanLifeExpect.RDS"))
str(lifeExpectRDS)

lifeExpectCSV=read.csv(file.path(folder,"cleanLifeExpect.csv"))
str(lifeExpectCSV)

'data.frame':	227 obs. of  3 variables:
 $ name  : chr  "Monaco" "Singapore" "Macau" "Japan" ...
 $ years : num  89.8 86.7 85.3 85.2 84.2 84.2 84 84 83.9 83.8 ...
 $ region: chr  "Europe" "East and Southeast Asia" "East and Southeast Asia" "East and Southeast Asia" ...
'data.frame':	227 obs. of  4 variables:
 $ X     : int  1 2 3 4 5 6 7 8 9 10 ...
 $ name  : chr  "Monaco" "Singapore" "Macau" "Japan" ...
 $ years : num  89.8 86.7 85.3 85.2 84.2 84.2 84 84 83.9 83.8 ...
 $ region: chr  "Europe" "East and Southeast Asia" "East and Southeast Asia" "East and Southeast Asia" ...

In [ ]:
matMortRDS=readRDS(file.path(folder,"cleanMatMortality.RDS"))
str(matMortRDS)

matMortCSV=read.csv(file.path(folder,"cleanMatMortality.csv"))
str(matMortCSV)

'data.frame':	196 obs. of  3 variables:
 $ name  : chr  "Nigeria" "Chad" "South Sudan" "Central African Republic" ...
 $ Death : int  993 748 692 692 628 563 521 518 505 494 ...
 $ Region: chr  "Africa" "Africa" "Africa" "Africa" ...
'data.frame':	196 obs. of  4 variables:
 $ X     : int  1 2 3 4 5 6 7 8 9 10 ...
 $ name  : chr  "Nigeria" "Chad" "South Sudan" "Central African Republic" ...
 $ Death : int  993 748 692 692 628 563 521 518 505 494 ...
 $ Region: chr  "Africa" "Africa" "Africa" "Africa" ...

In [ ]:
infMortRDS=readRDS(file.path(folder,"cleanInfMortality.RDS"))
str(infMortRDS)

infMortCSV=read.csv(file.path(folder,"cleanInfMortality.csv"))
str(infMortCSV)

'data.frame':	227 obs. of  3 variables:
 $ name  : chr  "Somalia" "Central African Republic" "Equatorial Guinea" "Sierra Leone" ...
 $ Death : num  81.5 79.3 76.9 70.1 65.6 63 61.1 58.6 56.7 55.8 ...
 $ Region: chr  "Africa" "Africa" "Africa" "Africa" ...
'data.frame':	227 obs. of  4 variables:
 $ X     : int  1 2 3 4 5 6 7 8 9 10 ...
 $ name  : chr  "Somalia" "Central African Republic" "Equatorial Guinea" "Sierra Leone" ...
 $ Death : num  81.5 79.3 76.9 70.1 65.6 63 61.1 58.6 56.7 55.8 ...
 $ Region: chr  "Africa" "Africa" "Africa" "Africa" ...